* {
  border: none;
  border-radius: 0;
  font-family: FiraCode Nerd Font Mono;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(40, 40, 40, 0);
  color: #fbf1c7;
}

window#waybar > box {
  margin: 0 40px;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: #fbf1c7;
}

#workspaces {
  background: #282828;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #fbf1c7;
  border-radius: 10px;
}

#workspaces button.focused {
  background: #504945;
  border-bottom: 3px solid #fbf1c7;
}

#mode,
#clock,
#battery {
  padding: 0 10px;
}

#mode {
  border-radius: 10px;
  background: #282828;
}

#clock {
  background-color: #504945;
}

#battery {
  background-color: #fbf1c7;
  color: black;
}

#battery.charging {
  color: #fbf1c7;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #fbf1c7;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: #fbf1c7;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#idle_inhibitor,
#scratchpad,
#mpd {
  background-color: #282828;
  border-radius: 10px;
  padding: 5px 5px;
  color: #fbf1c7;
}
